* {
  margin: 0 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f7fe;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #f5f7fe;
  margin-left: 15px;
  margin-right: 15px;
}

.logo {
  height: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-menu a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
}

.nav-menu a.active {
  font-weight: bold;
  color: #000;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111;
  font-weight: 500;
}

.cart i {
  font-size: 18px;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .navbar {
    padding: 10px 20px;
  }

  .logo {
    height: 30px;
  }

  .cart span {
    font-size: 14px;
  }

  .navbar-right {
    gap: 15px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap;
  background-color: #f5f7fe;
}

.hero-text {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: #e26a00;
  font-weight: bold;
}

.hero-text p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.hero-image {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 20px;
    text-align: left;
  }

  .hero-image {
    order: -1;
    padding: 10px;
  }

  .hero-text {
    padding: 10px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 0.95rem;
  }
}

.plants-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #f3f6fb;
}

.plants-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.plants-section h2 span {
  color: orange;
  font-weight: bold;
}

.plants-section p {
  max-width: 600px;
  margin: 0 auto;
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2px;
  margin-top: 40px;
}

.card {
  padding: 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.card p {
  font-weight: bold;
  margin-bottom: 15px;
}

.card button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.card button:hover {
  background-color: #e07000;
}


@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .hide-on-mobile {
    display: none; 
  }
}
